@model HiEIS.Areas.Public.Models.UpdateProformaViewModel
@{
    ViewBag.Title = "Sửa thông báo phí";
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>Thông tin thông báo phí</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div><!-- ibox-title -->

                <div class="ibox-content" id="form-proforma">
                    <div class="input-table">
                        <div class="row">
                            <div class="col-md-1">
                                @Html.HiddenFor(p => p.CustomerId)
                            </div>
                            <div class="col-md-2">
                                <span class="input-label input-required">Tên đơn vị</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(p => p.CustomerEnterprise, new { @class = "form-control typeahead" })
                                <span class="field-validation-error"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <span class="input-label input-required">Địa chỉ</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(p => p.CustomerAddress, new { @class = "form-control", })
                                <span class="field-validation-error"></span>
                            </div>
                            <!--
                                <div class="col-md-1">
                                <a class="btn btn-default pull-right" onclick="clearInput();" id="clear-input">Xóa</a>
                            </div>
                            -->

                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <span class="input-label">Số điện thoại</span>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(p => p.CustomerTel, new { @class = "form-control" })
                            </div>

                            <div class="col-md-2">
                                <label class="input-label input-required">Hạn thanh toán</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(p => p.PaymentDeadline, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = true, @placeholder = "dd/mm/yyyy" })
                                <span class="field-validation-error"></span>
                            </div>

                        </div>


                    </div><!-- /.input-table -->

                    <hr />

                    <!-- Button group -->
                    <div class="row table-button-group">
                        <div class="col-md-6 left"></div>
                        <div class="col-md-6 right text-right">
                            <a id="choose-products" class="btn btn-primary main-action">
                                <i class="fa fa-plus"></i>Thêm sản phẩm
                            </a>
                        </div>
                    </div>

                    <!-- proforma item table -->
                    <div>
                        <table id="proforma-item-table" class="table table-bordered table-action">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="vertical-align: middle;">Khoản mục</th>

                                    <th rowspan="2" style="vertical-align: middle;">Đơn vị</th>
                                    <th colspan="2">Thời gian</th>
                                    <th colspan="2">Chỉ số</th>
                                    <th rowspan="2" style="vertical-align: middle;">Khối lượng</th>
                                    <th rowspan="2" style="vertical-align: middle;">Đơn giá</th>
                                    <th rowspan="2" style="vertical-align: middle;">Thành tiền</th>
                                    <th colspan="2">Thuế VAT</th>
                                    <th rowspan="2" style="vertical-align: middle;">Tổng cộng</th>
                                    <th rowspan="2" style="vertical-align: middle;">Thao tác</th>
                                    <th rowspan="2" style="vertical-align: middle;" hidden>Index</th>
                                </tr>


                                <tr>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                    <th>Cũ</th>
                                    <th>Mới</th>
                                    <th>TS %</th>
                                    <th>Tiền thuế</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProformaInvoiceItems)
                                {
                                    var price = 0;
                                    if (item.Quantity == 0)
                                    {
                                        price = (int)item.UnitPrice;
                                    }
                                    else
                                    {
                                        price = (int)item.UnitPrice * (int)item.Quantity;
                                    }

                                    var vatRate = item.VATRate;
                                    var VAT = "";
                                    if (item.VATRate.ToString() == "0.00")
                                    {
                                        VAT = "0%";
                                    }
                                    else if (item.VATRate.ToString() == "0.10")
                                    {
                                        VAT = "10%";
                                    }
                                    else if (item.VATRate.ToString() == "0.05")
                                    {
                                        VAT = "5%";
                                    }
                                    else if (item.VATRate.ToString() == "-1.00")
                                    {
                                        VAT = "Không chịu thuế";
                                        vatRate = 0;
                                    }
                                    var VATAmount = price * vatRate;
                                    var total = price + VATAmount;
                                    var oldNo = item.OldNumber.ToString();
                                    var newNo = item.NewNumber.ToString();
                                    if (oldNo == "-1")
                                    {
                                        oldNo = "";
                                    }
                                    if (newNo == "-1")
                                    {
                                        newNo = "";
                                    }
                                    //VAT display

                                    @*<tr>
                                            <td class="name">@item.ProductName</td>
                                            <td class="index">@item.HasIndex.ToString()</td>
                                            <td class="unit">@item.ProductUnit</td>
                                            <td class="dateFrom">@item.DateFromS</td>
                                            <td class="dateTo">@item.DateToS</td>
                                            <td class="oldNum">@oldNo</td>
                                            <td class="newNum">@newNo</td>
                                            <td class="weight">@item.Quantity</td>
                                            <td class="unit-price text-right">@item.UnitPrice.ToString("#,##0")</td>
                                            <td class="total text-right">@price.ToString("#,##0")</td>
                                            <td class="VATRate">@VAT</td>
                                            <td class="VATAmount text-right">@VATAmount.ToString("#,##0")</td>
                                            <td class="total text-right">@total.ToString("#,##0")</td>
                                            <td>
                                                <a class="link js-item-update" data-selected="@item.ProductId" data-vat="@item.VATRate">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a class="link js-item-delete"><i class="fa fa-close"></i></a>
                                                <input type="hidden" class="hidden-id" value="@item.ProductId">
                                            </td>
                                        </tr>*@
                                }

                            </tbody>
                        </table>
                    </div>


                    <div class="input-table">
                        <div class="row">
                            <div class="col-md-9"><span class="input-label pull-right">Tổng tiền dịch vụ/sản phẩm</span></div>
                            <div class="col-md-3">
                                <input id="SubTotal" class="form-control text-right" readonly value="@Model.SubTotal.ToString("#,##0")" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9"><span class="input-label pull-right">Tổng tiền thuế VAT</span></div>
                            <div class="col-md-3">
                                <input id="VATAmount" class="form-control text-right" readonly value="@Model.VATAmount.ToString("#,##0")" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9"><span class="input-label pull-right">Tổng cộng kỳ này</span></div>
                            <div class="col-md-3">
                                <input id="TotalNoLiabilities" class="form-control text-right" readonly value="@Model.TotalNoLiabilities.ToString("#,##0")" />
                            </div>
                        </div>
                        <div class="row">
                            <!--Thêm filed Liabilites in ProformaInvoice-->
                            <div class="col-md-9"><span class="input-label pull-right">Nợ kỳ trước</span></div>
                            <div class="col-md-3">
                                <input id="Liabilities" class="form-control text-right" readonly value="@Model.Liabilities.ToString("#,##0")" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9"><span class="input-label pull-right">Tổng cộng tiền thanh toán</span></div>
                            <div class="col-md-3">
                                <input id="Total" class="form-control text-right" readonly value="@Model.Total.ToString("#,##0")" />
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button id="save-proforma" data-proforma-id="@Model.Id" type="submit" class="btn btn-primary">Lưu</button>
                            @Html.ActionLink("Quay lại", "Index", "ProformaInvoice", null, new { @class = "btn btn-default" })
                        </div>
                    </div>

                </div>
            </div><!-- /.ibox -->
        </div>
    </div>
</div><!-- Page content -->
<!--Popup sản phẩm-->
<div id="modal-form" class="modal bs-example-modal-sm fade" tabindex="-1" role="dialog" aria-labelledby="myFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Thông tin sản phẩm
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h3>
            </div>
            <div class="modal-body">
                <div class="input-table">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label input-required">Dịch vụ</span>
                        </div>
                        <div class="col-md-9">
                            <select id="product-list" class="form-control">
                                <option>----- Chọn sản phẩm -----</option>

                            </select>
                            <span class="product-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Đơn vị</span>
                        </div>
                        <div class="col-md-9">
                            <input readonly class="form-control" id="product-unit" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label input-required">Đơn giá</span>
                        </div>
                        <div class="col-md-9">
                            <input min="1" class="form-control" id="product-price" />
                            <span class="price-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label input-required">Thời gian</span>
                        </div>
                        <div class="col-md-1">
                            <span class="input-label">Từ</span>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="product-time-from" placeholder="dd/mm/yyyy" />
                            <span class="time-from-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-1">
                            <span class="input-label">Đến</span>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="product-time-to" placeholder="dd/mm/yyyy" />
                            <span class="time-to-error"></span>
                        </div>
                        <div class="col-md-1" hidden>
                            <input id="product-index" />
                        </div>
                    </div>
                    <div class="row has-index">
                        <div class="col-md-3">
                            <span class="input-label">Chỉ số</span>
                        </div>
                        <div class="col-md-1">
                            <span class="input-label">Cũ</span>
                        </div>
                        <div class="col-md-3">
                            <input min="1" class="form-control" id="product-oldNumber" type="number" />
                            <span class="oldNumber-error"></span>
                        </div>
                        <div class="col-md-1">
                            <span class="input-label">Mới</span>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="product-newNumber" type="number" />
                            <span class="newNumber-error"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Khối lượng</span>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="product-weight" type="number" min="1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Thành tiền</span>
                        </div>
                        <div class="col-md-9">
                            <input readonly class="form-control" id="product-sub-total" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Thuế</span>
                        </div>
                        <div class="col-md-9">
                            <input readonly class="form-control" id="product-vat" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Tiền thuế</span>
                        </div>
                        <div class="col-md-9">
                            <input readonly class="form-control" id="product-VATAmount" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="input-label">Tổng cộng</span>
                        </div>
                        <div class="col-md-9">
                            <input readonly class="form-control" id="product-total" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a id="save" class="btn btn-primary" data-action-type="create">Lưu</a>
                            <a class="btn btn-default" onclick="clearProductInput();" id="clear-input">Xóa</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Template - Product Table-->
<template id="template-item-table-row">
    <tr>
        <td class="name"></td>
        <td class="unit"></td>
        <td class="dateFrom"></td>
        <td class="dateTo"></td>
        <td class="oldNum"></td>
        <td class="newNum"></td>
        <td class="weight"></td>
        <td class="unit-price text-right"></td>
        <td class="subTotal text-right"></td>
        <td class="VATRate"></td>
        <td class="VATAmount text-right"></td>
        <td class="total text-right"></td>
        <td>
            <a class="link js-item-update" data-selected="">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="link js-item-delete">
                <i class="fa fa-close"></i>
            </a>
        </td>
        <td class="index" hidden></td>
    </tr>
</template>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/hieis-proforma-create.js"></script>

    <script>
        function lockInputFields() {
            $('.input-table input[type="text"]').each(function (index) {
                $input = $(this);
                if ($input.val().length > 0) {
                    if ($input.attr("id") == "Enterprise") {
                        $input.typeahead('destroy');
                    }
                    $input.attr("readonly", true);
                }
            });
        }

        $(document).ready(function () {
            lockInputFields();
            ajaxGetProducts();
            var items = @Html.Raw(Json.Encode(Model.ProformaInvoiceItems));
            $.each(items, function (index, value) {
                var price = 0;
                if (value.Quantity == 0) {
                    price = value.UnitPrice;
                }
                else {
                    price = value.UnitPrice * value.Quantity;
                }

                var vatRate = value.VATRate;
                var VAT = "";
                if (value.VATRate == "0") {
                    VAT = "0%";
                }
                else if (value.VATRate == "0.1") {
                    VAT = "10%";
                }
                else if (value.VATRate == "0.05") {
                    VAT = "5%";
                }
                else if (value.VATRate == "-1") {
                    VAT = "Không chịu thuế";
                    vatRate = 0;
                }
                var VATAmount = price * vatRate;
                var total = price + VATAmount;
                var oldNo = value.OldNumber;
                var newNo = value.NewNumber;
                if (oldNo == "-1") {
                    oldNo = "";
                }
                if (newNo == "-1") {
                    newNo = "";
                }
                var obj = {
                    ProductId: value.ProductId,
                    ProductName: value.ProductName,
                    ProductUnit: value.ProductUnit,
                    Quantity: value.Quantity,
                    UnitPrice: value.UnitPrice.toLocaleString("en-US"),
                    VATRate: VAT,
                    OldNumber: oldNo,
                    NewNumber: newNo,
                    DateFromS: value.DateFromS,
                    DateToS: value.DateToS,
                    SubTotal: price.toLocaleString("en-US"),
                    VATAmount: VATAmount.toLocaleString("en-US"),
                    Total: total.toLocaleString("en-US"),
                    HasIndex: value.HasIndex
                };
                proformaObj.push(obj);
            });
            renderItemTable();
            $('#save-proforma').on('click', function () {
                var proformaId = parseInt($(this).attr("data-proforma-id"));
                var dueDateValid = true;

                if ($('#proforma-item-table tbody tr').length == 0 || $('#Enteprise').val() == "") {
                    toastr.warning("Vui lòng điền thông tin và chọn sản phẩm.", "Nhắc nhở");
                }
                else if ($("#PaymentDeadline").val() == "") {
                    toastr.warning("Vui lòng chọn hạn thanh toán.", "Nhắc nhở");
                }
                else {
                    var proforma = getProforma();
                    console.log(proforma);

                    $.ajax({
                        url: "/Public/ProformaInvoice/Edit/",
                        data: {
                            id: proformaId,
                            model: proforma
                        },
                        method: "POST",
                        success: function (res) {
                            if (!res.success) {
                                if (res.data && res.data.length) {
                                    $('#form-proforma .field-validation-error').empty();
                                    res.data.forEach(e => {
                                        $('#form-proforma [name=' + e.name + ']~.field-validation-error').html(e.error);
                                    });
                                    swal('Không thành công', res.message, 'warning');
                                } else {
                                    swal('Không thành công', res.message, 'error');
                                }
                            } else {
                                sessionStorage.setItem('message', res.message);
                                window.location.replace(res.url);
                            }
                        },
                        error: function (response) {
                            swal('Không thành công', res.message, 'error');
                            console.log("Fail!!!!!!!!!!!!!!!!!!!!!!!");
                        }
                    });
                }

            });
        });

    </script>


}